
/* #region icon */
.icon{
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  gap: 20px;
  color: rgb(143, 16, 79);

}

.icon--registration{
  background-image: url(Sticks/stick__registration.png);


}

.icon--menu{
  background-image: url(Sticks/stick__menu.png);
  
}

.icon--phone{
  background-image: url(Sticks/stick__phone.png);
}

.icon--close{
  background-image: url(sticks/stick__close.png);
}


.icon__first{
  text-align: right;
  position: relative;
}

.icon__block{
  opacity: 0;
  z-index: -1;
  transition: opacity .3s, z-index .3s;
  position: absolute;
  top: -80%;
  left: -650%;
}

.icon__block:hover{
  opacity: 1;
  z-index: 1;
}

.icon__text{
  text-wrap: nowrap;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}

.icon__link{
  text-wrap: nowrap;
  color: white;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;

}




/* #endregion */

