.registration{
  box-sizing: border-box;
  height: 100vh;
  max-width: 100%;
  background-image: url(images/registration-fone.jpg);
  background-size: cover;
  background-position: center;
}


.registration__top{
display: flex;
justify-content: space-between;
padding-right: 10px;
padding-top: 10px;
padding-left: 5px;

}


.registration__name{
  font-size: 25px;
  
}

.registration__first{
  text-align: center;
  padding-top: 50px;
}

.registration__menu{
   text-transform: uppercase;
  font-weight: 750;
  font-size: 23px;
  text-align: center;
 padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 300px;
 
   font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.registration__word-long{
  background-image: url(images/Images__father.jpg);
   color: wheat;
  text-decoration: none;
  cursor: pointer;
  color: rgb(145, 30, 78);
 border: 3px, solid, rgb(200, 101, 139);
 height: 350px;
 width: 500px;
 padding-top: 25px;
 background-color: rgb(248, 199, 218);
  border-radius: 10px;
  transition-duration: 1s;
  transition-property: height, width;
}

.registration__word-small{
  background-image: url(images/images__children.avif);
   color: wheat;
  text-decoration: none;
  cursor: pointer;
  color: rgb(145, 30, 78);
 border: 3px, solid, rgb(200, 101, 139);
 height: 350px;
 width: 500px;
 padding-top: 25px;
 background-color: rgb(248, 199, 218);
  border-radius: 10px;
   transition-duration: 1s;
  transition-property: height, width;
}


.registration__menu .registration__word-long:hover{
 transition-duration: 1s;
 border-color: black;

}

.registration__menu .registration__word-small:hover{
 transition-duration: 1s;
 border-color: black;

}






/* #region input */
input[type="text"] {
  background-color: rgb(252, 202, 210);
  height: 20px;
  font-size: 15px;
}

input[type="password"] {
  border-color: red;
  background-color: rgb(252, 202, 210);
  border-radius: 2px;
  height: 20px;
  font-size: 15px;
}

input[type="number"] {
   background-color: rgb(252, 202, 210);
 
}

input[type="email"] {
   background-color: rgb(252, 202, 210);
 
}
input[type="submit"] {
  background-color: rgb(252, 202, 210);
}

/* #endregion */

#transition{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

 #transition:target{
  opacity: 1;
  pointer-events: all;
}